<div class="container">
  <div class="header">
    <img [ngStyle]="{'height' : '40px'}" src="../../assets/images/logo-netflix.png" alt="Logo NETNET">
    <nav>
      <ul class="navigation">
        <li class="navigation-item"><a href="">Series</a></li>
        <li class="navigation-item"><a href="">Películas</a></li>
        <li class="navigation-item"><a href="">Mi lista</a></li>
      </ul>
    </nav>
  </div>
  <div class="featured">
    <video style="height: 500px;" src="../../assets/video/toystory.mp4"></video>
    <div class="featured-details">
      <ul class="tags">
        <li class="tag">Animación</li>
        <li class="tag">Comedia</li>
        <li class="tag">Aventura</li>
        <li class="tag">Infantil</li>
        <li class="tag">Fantasía</li>
      </ul>
      <div class="featured-actions">
        <button class="button-secundary plus">Mi lista</button>
        <button class="button play">Reproducir</button>
        <button class="button-secondary info">Info</button>
      </div>
    </div>
  </div>
</div>





