.container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}


.header {
  padding: 15px 15px 100px 15px;
  position: relative;
  z-index: 10;
  background-image: linear-gradient(to bottom, black 0%, black 60%, rgba(0,0,0, .6) 85% , transparent 100%);
}

a {
  text-decoration: none;

  color: white;

}

.navigation {
  padding: 0;
  display: grid;
  grid-auto-columns: 80px;
  grid-auto-flow: column;
  justify-content: space-around;
}

.navigation-item {
  list-style: none;
  text-align: center;
}

.featured {
  margin-top: -80px;
  position: relative;
}

.featured-details {
  border: 1px solid red;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top, black 0%, transparent 100%);
}

.tags {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
  list-style: none;
}

.tag{
  display: flex;
}

.tag:before {
  content: '•';
  margin-right: 8px;
  position: relative;
  top: 1px;
}

.tag:first-child::before {
  display: none;
}

.featured-actions {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 2em;
}
